extends layout
block content
   div.block_for_text
     !{ttext.body}
   br(style='clear:both')
   div.block_right#bl1
    div(ng-controller='AccordionDemoCtrl')
     accordion(close-others='oneAtATime')
      - info.forEach(function(item){
         accordion-group(heading=item.name, is-open='false')
           | This content is straight in the template.
      - })
        accordion-group(heading=info[0].name, is-open='true')
         a(href='#', class='btn_my') Как найти работу в IT:
          span.bred  WEB-аналитика
            img(src='images/no_photo.png')
          span.bred1  Место проведения:
          span.bred2  г.Минск, станция местро Фрунзенская, здание "Центр обучающих технологий" 
         a(href='#', class='btn_my') Web-аналитика:
              span.bred  WEB-аналитика
                img(src='images/no_photo.png')
              span.bred1  Место проведения:
              span.bred2  г.Минск, станция местро Фрунзенская, здание "Центр обучающих технологий"