doctype
html(ng-app="plunker")
  head
    title= title
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.min.js', type='text/javascript')
    script(src='/javascripts/ui-bootstrap-tpls-0.10.0.min.js', type='text/javascript')
    script(src='/ckeditor/ckeditor.js', type='text/javascript')
    script(src='/javascripts/my.js', type='text/javascript')
  body
    div.toph1 
     nav.topmenu	 
      a(href='/', class='btn btn-link topka') Главная
      a(href='/users', class='btn btn-link topka') Пользователи
      if userid
       a(href='/cabinet', class='btn btn-large btn-danger exit') Кабинет пользователя
      if userid
       a(href='/logout', class='btn btn-link exit') Выход 
     h1= title 
     if userid
       - 
     else
      form.login-form(method='POST', action='/reg', role='form' name='login-form')
       div.form-group
        input.form-control(type='text', placeholder='login' name='username')
       div.form-group
        input.form-control(type='password', placeholder='password', name='password')
       input(class='btn btn-primary btn-large', type='submit', value='Войти или зарегистрироваться')
    div.mainblock
     block content
    br(style='clear:both')   
  br(style='clear:both')
  div.copyright &copy; Все права защищены. MyStudio 2014г.