extends layout
block content
  h2. Регистрация
  form.login-form(method='POST', action='/reg', role='form' name='login-form')
   div.form-group
    input.form-control(type='text', placeholder='login' name='username')
   div.form-group
    input.form-control(type='password', placeholder='password', name='password')
   input(class='btn btn-default', type='submit', value='Вход')