body {
  padding:0px;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 background:url(../images/letter33.jpg);
}
a {
  color: #00B7FF;
}
h4 {
 margin-top:2px;
}
.toph1 {
 color:#357EBD;
 font-size:22px;
 padding:7px;
 margin:0;
 text-align:center;
}
.toph1 h1 {
 padding-top:20px;
}
.big {
 font-style:italic;
}
.btn_my_head {
 background:#2D436E !important;
 display:block;
 opacity:1;
 color:white !important;
 padding:8px;
}
.topmenu a:hover{
 text-decoration:none;
 color:black;
 background:white;
}
.mainblock {
 width:900px;
 margin:0 auto; 
}
.block_for_text {
 background:white;
 padding:10px;
 margin-top:10px;
}
#bl1 {
 float:rigt;
}
.block_right .btn_my{
 display:block;
}
.login-form {
 width:235px;
 margin:0 auto;
}
.btn_my {
 padding-bottom:5px;
 padding-top:3px;
 font-size:16px;
 padding-left:6px;
 border-bottom:solid 1px #ccc;
}
.btn_my:hover{
 opacity:0.5;
}
.block_right a.btn_my_head:hover{
 opacity:1;
}
.accordion-toggle {
 display:block;
 z-index:99;
 position:relative;
}
.panel-body {
 position:relative;
 z-index:1;
}
.accordion-toggle:hover {
 opacity:1;
}
.bred {
 font-weight:bold;
}
.bred1 {
 display:block;
}
.block_right a:hover {
 text-decoration:none;
}
.block_right span.red{
 color:red;
 font-size:12px;
}
.block_right span.green {
 color:green;
 font-size:14px;
}
.bred img{
 float:right;
 border:solid 2px white;
}
.myb {
 margin-left:5px;
}
.exit {
 float:left;
 margin-right:6px;
}
.topka {
 float:right;
}
.copyright {
 margin-top:30px;
 padding-top:30px;
 padding-bottom:30px;
 text-align:center;
 background:#c2c2c2;
 color:white;
}
.btn-lg {
 width:100%;
}
.show {
 display:block;
}
.hide {
 display:none;
}
.videotext {
 width:100%;
}